<%- include("./partials/header.ejs") -%>

<table id="registered" >
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Group</th>
		<th>subGame</th>
	</thead>
	<tbody>
        <% rows.forEach((row)=>{ %>
            <tr>
                <td><%= row[0] %></td>
                <td><%= row[1] %></td>
                <td><%= row[2] %></td>
                <td><%= row[3] %></td>
            </tr>
        <% }); %>
		<tr>
            <td>TESTING</td>
            <td>TESTING@iiitdm.ac.in</td>
            <td>TESTING</td>
            <td>none</td>
        </tr>
	</tbody>
</table>

<%- include("./partials/footer.ejs") -%>